body {
  margin: 30px 0 0 0;
  background-color: #f0e9c8;
  font-family: 'Montserrat', sans-serif;
  color: #092532;
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 5.7rem;
  position: relative;
  margin-top: 100px;
}

h2 {
  color: #566bdd;
  font-size: 2.8125rem;
  font-family: 'Fira Sans', sans-serif;
}

h3 {
  color: #5ca0d3;
  font-size: 2rem;
  font-family: 'Fira Sans', sans-serif;
}

hr {
  /* background-color and style */
  border-width: 6px;
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  width: 5%;
  margin: 60px auto 60px auto;
}
p{
  line-height: 2;
}
a{
  color: #566bdd;
  text-decoration: none;
}
a:hover{
  color: #5ca0d3;

}
/******************CLASS STYLES**************/
.top-container {
  position: relative;
  padding-top: 50px;
  text-align: center;
  margin: 0;
}
.bio0{
  line-height: 2;
  text-align: center;
  width: 40%;
  margin: 30px auto 30px auto;
}
.cloud0 {
  position: absolute;
  right: 35%;
  top: 50px;
}

.cloud1 {
  position: absolute;
  margin-right: 30%;
}

.top-container {
  background-color: #f0e9c8;
  margin: 0;
}

.title-text {
  text-align: center;
  padding-top: 40px;
}

.intro-text {
  font-weight: lighter;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  bottom: 30px;
  text-align: center;
  font-size: 2.25rem;
}

.mountain {
  position: relative;
}

.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50% 50% 0 0;
  border: solid 10px;
  background-color: #b8ede7;
  border-color: #4f2607;
}
.deer-image {
  float: left;
  background-color: #b8ede7;
  width: 25%;
  border-radius: 50px;
  margin-right: 30px;
}
.science-image{
  float: left;
  background-color: lightgreen;
  width: 25%;
  border-radius: 50px;
  margin-right: 30px;
}
.computer-image {
  float: right;
  width: 25%;
  border-radius: 50px;
  margin-left: 30px;
}
.cat-image {
  float: right;
  width: 25%;
  border-radius: 50px;
  margin-left: 30px;
  background-color: lightpink;
}
.middle-container {
  margin: 0 auto 70px auto;
}
.button {
	box-shadow: 0px 0px 11px -1px #000000;
	background:linear-gradient(to bottom, #566BDD 5%, #37448B 100%);
	background-color:#79bbff;
	border-radius:21px;
	display:inline-block;
	cursor:pointer;
	color:#F0E9C8;
	font-family: 'Fira Sans', sans-serif;
	font-size:22px;
	font-weight:normal;
	padding:16px 44px;
	text-decoration:none;
	/* text-shadow:3px 3px 11px #528ecc; */
}

.button:hover {
	background:linear-gradient(to bottom, #37448B 5%, #566BDD 100%);
	background-color:#000000;
}
.button:active {
	position:relative;
	top:1px;
}
.home-button{
    box-shadow: 0px 0px 11px -1px #000000;
    background:linear-gradient(to bottom, green 5%, darkgreen 100%);
  	background-color:lightgreen;
    border-radius:21px;
    display:inline-block;
    cursor:pointer;
    color:#F0E9C8;
    font-family: 'Fira Sans', sans-serif;
    font-size:22px;
    font-weight:normal;
    padding:16px 44px;
    text-decoration:none;
}
.home-button:hover{
  background-color:#000000;
  background:linear-gradient(to bottom, darkgreen 5%, green 100%);
  color:lightgreen;
}
.home-button:active {
	position:relative;
	top:1px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}
.skill-description{
  line-height: 2;
}

.contact-me-message{
  margin: 0 auto 30px auto;
  width: 50%;
  text-align: center;
}

.contact-me-subtitle{
  margin: 30px auto 30px auto;
  width: 50%;
  text-align: center;
  color: #5ca0d3;
}

.bottom-container {
  background-color: #89c9b8;
  padding: 40px 0 10px 0;
  margin: 30px 0 0 0;
  color: white;
}
.footer-link {
  text-decoration: none;
  margin: auto 30px auto 30px;
  color: #566bdd;
}
.copyright{
  font-size: .76rem;
  padding: 20px 0 20px 0;
  color: #EAF6F6;
}
