#title {
  padding-bottom: 7%;
}

body {
  font-family: 'Montserrat-Black', sans-serif;
  background-color: white;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Black', sans-serif;
}


.container-fluid {
  padding: 3% 15% 7%;
}

/* Sections */
.colored-section {
  background-color: #ff3c6b;
  color: white;
}

.uncolored-section {
  background-color: white;
  color: black;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

/* Title Text */
.title-text {
  padding-top: 4rem;
text-align: left;

  font-weight: 900;
  font-size: 3.7rem;
  line-height: 1.5;
}

/* Download button */
.download-btn {
  margin: 5% 3% 5% 0;

}

/* iPhone Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  padding: 3.5rem 1.5rem 7.5rem 1.5rem;
  margin: 0 15%;
  position: relative;

  z-index: 1;
}

.feature-box {
  padding: 5% 8%;
}

.feature-icon {
  color: #ef8172;
  font-size: 5rem;
  padding-top: 4rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-motto {
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 2rem;
}

.feature-description {
  color: #8f8f8f;
  padding-top: .25rem;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-title {
  padding: 7% 15% 5% 15%;
    font-size: 2.25rem;
    font-weight: 700;
}

.testimonial-pic {
  width: 8%;
  border-radius: 50%;
  margin: 0 30px 20px;
}
/* #carousel */
  .carousel-item{
    padding: 3.5rem 1.5rem 7.5rem 1.5rem;
    width: 100%;
    height: 43.75rem;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo-img {
  width: 15%;
  margin: 20px 20px 50px; /* this is top bothSides bottom */
}
#pricing {
  padding: 100px;
}
.pricing-motto {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
}
.pricing-description{
  font-size: 2rem;
}
.pricing-column{
  padding: 3% 2%;
}
.membership-cards{

}
.card-title{
  font-size: 2rem;
}
.price-text{
  font-weight: 800;
  line-height: 1.5;
}
@media (max-width:991px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
#cta{

  padding-bottom: 30px;
}
.cta-motto{
  font-weight: 800;
  font-size: 4rem;
  padding: 4.8rem;
}
.cta-btn{
margin: 1%;
font-size: 2rem;
margin-bottom: 40px;
}
#footer {
    padding-top: 30px;
}
.footer-icon{
    padding: 20px 8px;
    font-size: 1.5rem;
}
.footer-social-media-icon-link{
  color: #343a40;
}
.footer-social-media-icon-link:hover {
    color: #5ca0d3;
}
.copyright{
    color: gray;
}
